.buttons {
  position: relative;
  margin: 2rem;
  padding: 2rem;
  width: fit-content;

  outline: 1px solid red;

  > div[class*='_btn-'] {
    position: absolute;
  }

  &_bg-image {
    display: inline-block;
    width: fit-content;
  }

  &_btn-left {
    left: 0;
    top: 0;
  }

  &_btn-right {
    right: 0;
    top: 0;
  }

  &_btn-bottom {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
