.buttons {
  position: relative;
  margin: 2rem;
  padding: 2rem;
  width: fit-content;

  display: grid;

  outline: 1px solid red;

  > * {
    grid-area: 1 / 1 / 1 / 1;
    place-self: start;
  }

  &_bg-image {
    display: inline-block;
    width: fit-content;
  }

  &_btn-left {
    margin-left: 0;
  }

  &_btn-right {
    margin-left: auto;
  }

  &_btn-bottom {
    margin-top: auto;
    margin-inline: auto;
  }

  > .move-to-start {
    animation: move-to-start 3s;
  }
}
