.main-container {
  display: grid;
  grid-template-rows: auto 500px 1fr;
  justify-items: center;

  min-height: 100%;
  padding-top: 3rem;
}

.attribution {
  align-self: end;
}

.btn-outline {
  justify-self: end;
  margin-right: 2rem;
}
