@media (max-width: 50em) {
  :root {
    --fs-400: 0.625rem;
    --fs-800: 3.35rem;
    --fs-900: 2.5rem;

    --b-radius: 7px;
  }

  .main-container {
    grid-template-rows: auto 400px 1fr;
    width: max(375px, 100%);
    padding: 25px;
    overflow: hidden;
  }

  .header {
    width: min(100%, 700px);
    height: 100px;
    padding-inline: 0.9rem;
    border: 3px solid hsl(var(--clr-neutral-500));

    &_logo {
      width: 85px;
    }

    &_score {
      padding: 0.7rem 1.25rem;
      line-height: 1;
    }
  }

  .game-container {
    --container-w: max(325px, 100%);
    --container-h: 190px;

    &_bg-image {
      svg {
        stroke-width: 22;
      }
    }
  }

  .button {
    --btn-radius: 130px;
    --btn-inner-radius: 100px;
    --img-h: 50px;
  }
}
