@use 'game-container';
@use 'game-buttons';

.main-container {
  background-image: radial-gradient(
    circle at top center,
    hsl(var(--clr-bg-200)),
    hsl(var(--clr-bg-100))
  );
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 700px;
  height: 150px;
  padding-inline: 1.5rem;

  border-radius: var(--b-radius);
  border: 4px solid hsl(var(--clr-neutral-500));

  &_score {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0.9rem 3rem;
    border-radius: calc(var(--b-radius) / 2);

    font-size: var(--fs-400);
    letter-spacing: 2px;
    color: hsl(var(--clr-neutral-300));

    background-color: white;

    :first-child {
      color: hsl(var(--clr-neutral-400));
    }

    :last-child {
      font-size: var(--fs-900);
      font-weight: 700;
      line-height: 1;
    }
  }
}

.btn {
  text-transform: uppercase;
  border: none;
  border-radius: 10px;

  font-size: var(--fs-400);
  font-weight: 700;
  letter-spacing: 2px;

  &-light {
    width: 100%;
    padding: 0.8rem;
    color: hsl(var(--clr-neutral-300));
  }
}
